@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes swirlIn {
    0% {
        opacity: 0;
        transform: rotate(-360deg) scale(0);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}

@keyframes flipIn {
    0% {
        opacity: 0;
        transform: rotateY(-180deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f5f5dc, #e0e0d1);
    animation: flipIn 1s ease-in-out; /* Apply flip animation */
}
.container {
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    position: relative;
    background-image: url('assets/background_andrei.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in-out;
}
.content-box {
    background-color: #f5f5dcb3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.logo {
    width: 150px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 12px;
    background-color: #d3d3bc;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}
a img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
a:hover {
    background-color: #555;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
h1 {
    font-size: 24px;
    color: #FFD700;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}
.tradingview-container {
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    max-height: 0; /* Initially hidden */
    transition: opacity 0.5s ease, max-height 0.5s ease; /* Smooth transition */
}
.tradingview-container.show {
    opacity: 1;
    max-height: 250px; /* Show the container */
}
#gold_chart iframe {
    border-radius: 10px;
}
.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #d3d3bc;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.toggle-button img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.toggle-button:hover {
    background-color: #555;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.card {
    width: 350px; /* Increased width */
    height: 220px; /* Increased height */
    perspective: 1000px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.card.is-flipped .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-front {
    background: url('assets/VCardFront.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); /* Darker background */
}
.card-back {
    background: url('assets/VCardBack.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); /* Darker background */
    transform: rotateY(180deg);
}
.show-card {
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
}
.button {
    background: url('assets/VCardFront.jpg') no-repeat center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s;
}
.button:hover {
    transform: scale(1.1);
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
